project_id      = "ordering-intelligence-ENV"
region          = "us-central1"
billing_account = ""

order_service_lb_hostname         = "order-service.liive.app"
order_service_lb_certificate_mode = "MANAGED"
order_service_lb_managed_domains  = ["order-service.liive.app"]

# Optional Cloud Run tuning (per service)
# cloud_run_overrides = {
#   order_service = {
#     container_concurrency = 20
#     timeout_seconds       = 120
#   }
# }
